<!-- ============================================================== -->
<!-- Simple four boxes Row -->
<!-- ============================================================== -->

<div class="p-20 bg-info position-relative">



    <h4 class="card-title text-white m-0">Valori attuali</h4>
    <h6 class="card-subtitle text-white m-0 op-5">aggiornati ogni 5 minuti</h6>
    <!-- <button mat-mini-fab color="accent" class="add-contact">+</button> -->
    <!-- <div class="message-widget contact-widget center" style="background-color: white;">
        <a href="#">
            <div>
                <img src=" http://openweathermap.org/img/wn/09d@2x.png" alt="user">
            </div>
        </a>
    </div> -->
</div>

<mat-card fxLayout="row wrap" fxLayoutAlign="space-evenly center" class="message-box contact-box p-20"
    style="background-color: white;">





    <div class="message-widget contact-widget center" fxFlex="20%">
        <a href="#">
            <div class="user-img"> <img src="assets/icon/termometro.jpg" alt="user" class="img-circle">
                <span class="profile-status online pull-right"></span> </div>
            <div class="mail-contnet" style="font-size: 1vw">
                <span>Temperatura</span> <span class="mail-desc">{{nowTemperature}}°</span>
            </div>
        </a>

    </div>

    <div class="message-widget contact-widget center" fxFlex="20%">
        <a href="#">
            <div class="user-img"> <img src="assets/icon/termometro.jpg" alt="user" class="img-circle">
                <span class="profile-status busy pull-right"></span> </div>
            <div class="mail-contnet" style="font-size: 1vw">
                <span>Percepita</span> <span class="mail-desc">{{feelsLikeTemperature}}°</span>
            </div>
        </a>

    </div>


    <div class="message-widget contact-widget center" fxFlex="20%">
        <a href="#">
            <div class="user-img"> <img src="assets/icon/humidity.jpg" alt="user" class="img-circle"> <span
                    class="profile-status busy pull-right"></span> </div>
            <div class="mail-contnet" style="font-size: 1vw">
                <span>Umidità</span> <span class="mail-desc">{{humidity}}%</span>
            </div>
        </a>

    </div>


    <div class="message-widget contact-widget center" fxFlex="20%">

        <a href="#">
            <div class="user-img"> <img src="assets/icon/clouds.jpg" alt="user" class="img-circle"> <span
                    class="profile-status busy pull-right"></span> </div>
            <div class="mail-contnet" style="font-size: 1vw">
                <span>Nuvole</span> <span class="mail-desc">{{clouds}}%</span>
            </div>
        </a>
    </div>


</mat-card>



<div class="container">
    <div class="row">

        <!-- 
        <mat-card>
            <div class="p-20 bg-info position-relative">
                <h4 class="card-title text-white m-0">Valori attuali</h4>
                <h6 class="card-subtitle text-white m-0 op-5">aggiornati ogni 5 minuti</h6>
            </div>

            <div class="message-box contact-box p-20">
                <div class="message-widget contact-widget center">
                    <a href="#">
                        <div>
                            <img src=" http://openweathermap.org/img/wn/09d@2x.png" alt="user"
                                style="padding-left: 25px;">
                        </div>
                    </a>
                    <a href="#">
                        <div class="user-img"> <img src="assets/icon/termometro.jpg" alt="user" class="img-circle">
                            <span class="profile-status online pull-right"></span> </div>
                        <div class="mail-contnet">
                            <h5>Temperatura</h5> <span class="mail-desc">{{nowTemperature}}°</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="user-img"> <img src="assets/icon/termometro.jpg" alt="user" class="img-circle">
                            <span class="profile-status busy pull-right"></span> </div>
                        <div class="mail-contnet">
                            <h5>Percepita</h5> <span class="mail-desc">{{feelsLikeTemperature}}°</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="user-img"> <img src="assets/icon/humidity.jpg" alt="user" class="img-circle"> <span
                                class="profile-status busy pull-right"></span> </div>
                        <div class="mail-contnet">
                            <h5>Umidità</h5> <span class="mail-desc">{{humidity}}%</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="user-img"> <img src="assets/icon/clouds.jpg" alt="user" class="img-circle"> <span
                                class="profile-status busy pull-right"></span> </div>
                        <div class="mail-contnet">
                            <h5>Nuvole</h5> <span class="mail-desc">{{clouds}}%</span>
                        </div>
                    </a>
                </div>
            </div>
        </mat-card> -->



        <!-- column -->


        <!-- <div fxFlex.gt-lg="66" fxFlex.gt-md="66" fxFlex.gt-xs="100" fxFlex="100">
                <mat-card>
                    <mat-card-content>
         
                        <div class="d-flex flex-wrap">
                            <div>
                                <mat-card-title>Sales Overview</mat-card-title>
                                 <mat-card-subtitle>Ample Admin Vs Material Admin</mat-card-subtitle> 
                             </div>
                            <div class="ml-auto">
                                <ul class="list-inline">
                                    <li>
                                        <h6 class="text-success m-0"><i class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>Ample</h6> </li>
                                    <li>
                                        <h6 class=" text-info m-0"><i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Pixel</h6> </li>
                                </ul>
                            </div>
                        </div>
        
                        <div class="barchrt" style="height:360px;">
                            <x-chartist class="" [data]="barChart1.data" [type]="barChart1.type" [options]="barChart1.options" [responsiveOptions]="barChart1.responsiveOptions"
                                [events]="barChart1.events"> </x-chartist>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div> -->


        <!-- column -->
        <!-- column -->



        <!-- <div fxFlex.gt-lg="33" fxFlex.gt-md="33"  fxFlex.gt-xs="100" fxFlex="100">
                <mat-card>
                    <mat-card-content>
                        <mat-card-title>Our Visitors</mat-card-title>
                        <mat-card-subtitle>Different Devices Used to Visit</mat-card-subtitle>
                        <div class="piechart">
                            <x-chartist class="" [data]="donuteChart1.data" [type]="donuteChart1.type" [options]="donuteChart1.options" [responsiveOptions]="donuteChart1.responsiveOptions"
                                [events]="donuteChart1.events"> </x-chartist>
                        </div>
                    </mat-card-content>
                    <hr>
                    <mat-card-content>
                        <ul class="list-inline text-center">
                            <li>
                                <h6 class="text-success m-0">
                                    <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10 "></i>Mobile</h6>
                            </li>
                            <li>
                                <h6 class=" text-info  m-0">
                                    <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Desktop</h6>
                            </li>
                            <li>
                                <h6 class=" text-purple  m-0">
                                    <i class="mdi mdi-checkbox-blank-circle font-10 m-r-10"></i>Tablet</h6>
                            </li>
                        </ul>
                    </mat-card-content>
                </mat-card>
            </div> -->




        <!-- column -->
    </div>

    <div class="row">
        <div style="min-width: 100%;">
            <mat-card>
                <mat-card-content >
                    <table class="responsive-table centered" style="min-width: 100%;">
                        <thead>
                            <tr>
                                <th>Giorno</th>
                                <th>TMax</th>
                                <th>Tmin</th>
                                <th>humidity</th>

                            </tr>
                        </thead>

                        <tbody class="centered">
                            <tr *ngFor="let day of prevision">
                                <td>{{convertDtInDate(day.dt)}}</td>
                                <td>{{day.temp.max}}°</td>
                                <td>{{day.temp.min}}°</td>
                                <td>{{day.humidity}}%</td>
                            </tr>

                        </tbody>
                    </table>


                </mat-card-content>
            </mat-card>
        </div>


    </div>


</div>